* {
	padding: 0; margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(7, 18, 13);
	font-family: monospace;
}

#heading_container {
	width: 540px;
	height: 120px;
	border-bottom: 5px double white;
	margin: 2px auto;
	padding-top: 20px;
}

.heading-text {
	text-align: center;
	color: ghostwhite;
}

#heading {
	font-size: 2.25rem;
}

#description {
	font-size: 1.10rem;
	color: rgb(55, 250, 130);
}

#cal_container {
	background-color: black;
	width: 560px; height: 665px;
	margin: 10px auto;
	border-radius: 12px;
	overflow: hidden;
}

#cal_display {
	width: 100%; height: 150px;
	border-bottom: 2px solid rgb(7, 18, 13);
	display: grid;
	grid-template-rows: 2fr 1fr;
}

#calculation, #result {
	background-color: rgb(23, 23, 23);
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
}

#calculation {
	font-size: 2.5rem;
	width: 100%;
	border: none;
	text-align: right;
	color: white;
	padding: 0 8px;
}

#calculation:focus {
	outline: none;
}

#result {
	font-size: 1.85rem;
	color: rgb(45, 145, 45);
}

#buttons {
	width: 100%; height: 570px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	background: rgb(65, 65, 65);
}

.subnum-container {
	height: 124px; width: 100%;
	padding-top: 10px;
}

#numbers .subnum-container>.btn {
	height: 100%; width: 110px;
}

#numbers .subnum-container {
	padding-left: 10px;
}

#operators_and_functions .subnum-container>.btn {
	height: 100%; width: 85px;
}

#operators_and_functions .subnum-container>.parentheses-btn {
	height: 100%; width: 39px;
}

button {
	font-size: 28px;
	background-color: black;
	font-family: monospace;
	border: 2px groove rgb(5, 90, 30);
	color: rgb(55, 250, 130);
	border-radius: 10px;
}
